[submodule "Projects/sawyer_vr_teleop"]
	path = Projects/sawyer_vr_teleop
	url = git@github.com:paulonhantumbojr/sawyer_vr_teleop.git
[submodule "Projects/Dual_sawyer_controller"]
	path = Projects/Dual_sawyer_controller
	url = git@github.com:minhtugonnabelit/Dual_sawyer_controller.git
